.accordion-menu * {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.accordion-menu a {
  text-decoration: none;
  color: inherit;
}

.accordion-menu .accordion.ui.styled,
.accordion-menu .accordion.ui.styled .accordion,
.accordion-menu .accordion.ui.styled .title,
.accordion-menu .accordion.ui.styled .accordion .title {
    border-radius: 0;
    box-shadow: none;
}

.accordion-menu .accordion.ui.styled .title {
    position: relative;
}

.accordion-menu .accordion.ui.styled .content.active,
.accordion-menu .accordion.ui.styled .content {
    margin-top: 0px!important;    
}

.accordion-menu .accordion.ui.styled div.content.active .accordion,
.accordion-menu .accordion.ui.styled div.content .accordion,
.accordion-menu .accordion.ui.styled div.content.active,
.accordion-menu .accordion.ui.styled div.content
{
    margin-top: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.accordion-menu .accordion.ui.styled .content,
.accordion-menu .accordion.ui.styled .accordion .content
{
    padding-right: 0;
}


.accordion-menu.collapsed  .accordion.ui.styled div.content.active .accordion {
    display: none!important;
}

.accordion-menu.collapsed  .accordion.ui.styled .title > * {
    display: none;
}

.accordion-menu.collapsed .accordion.ui.styled .title {
    white-space: nowrap;
    overflow: hidden;
}

.accordion-menu.collapsed  .accordion.ui.styled .title .dropdown.icon{
    display: none;
}

.accordion-menu.collapsed  .accordion.ui.styled .title .icon{
    display: inline-block;
}

.accordion-menu.collapsed  .accordion.ui.styled .title > .itemWrapper{
    display: inline-block;
}

.accordion-menu.collapsed  .accordion.ui.styled .title > .titleTooltipWrapper, 
.accordion-menu.collapsed  .accordion.ui.styled .title > .titleWrapper
{
    display: block!important;
}

.accordion-menu.collapsed  .accordion.ui.styled .title > .titleWrapper i
{
    display: none!important;
}

.accordion-menu.collapsed  .accordion.ui.styled .title > .titleWrapper .titleString {
    visibility: hidden;
}

.accordion-menu .accordion.ui.styled .title > .titleTooltipWrapper {
    display: none!important;
}



