.accordion-menu * {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.accordion-menu a {
  text-decoration: none;
  color: inherit;
}

.accordion-menu .accordion.ui.styled,
.accordion-menu .accordion.ui.styled .accordion,
.accordion-menu .accordion.ui.styled .title,
.accordion-menu .accordion.ui.styled .accordion .title {
    border-radius: 0;
    box-shadow: none;
}

.accordion-menu .accordion.ui.styled .content.active,
.accordion-menu .accordion.ui.styled .content {
    margin-top: 0px!important;    
}

.accordion-menu .accordion.ui.styled div.content.active .accordion,
.accordion-menu .accordion.ui.styled div.content .accordion,
.accordion-menu .accordion.ui.styled div.content.active,
.accordion-menu .accordion.ui.styled div.content
{
    margin-top: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.accordion-menu .accordion.ui.styled .content,
.accordion-menu .accordion.ui.styled .accordion .content
{
    padding-right: 0;
}



